html {
    max-width: 100%;
    font-size: 62.5%;
    body {
        background-color: #eee7e7;
        font-size: 1.6rem;
    }
}

.btn {
    .btnBasic;
}

.postHeader{
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
    background: @fadedBlack2;
    text-decoration-color: white;
}