.landing {
    .flex(space-evenly, center);
    .test-border;
    .postOfTheDay {
        .test-border;
        .postImg {
            background-image: url(../images/pastapenne.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 500px;
            position: relative;
            .postText {
                background-color: rgba(0, 0, 0, 0.322);
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 2.0rem;
            }
        }
        
    }
    .cta {

    }
}