@media @tablet {
    // Navigation
    .header {
        .nav-container {
            .test-border;
            width: 10%;
            .nav {
                display: none;
            }
            .dropdown {
                display: initial;


                .btn {
                    font-size: 1.6rem;
                }

                .dropdown-menu {
                    font-size: 1.6rem;
                }
            }
        }
        .login-signUp {
            display: none;
        }
    }

    .landing {
        flex-direction: column;
        .postOfTheDay {
            width: 95%;
        }
        .cta {
            .flex(space-evenly);
            width: 95%;
            .ctaContentTop {
                width: 45%;
            }
            .ctaContentBot {
                width: 45%;
            }
        }
    }
}
